<!-- Add Delete all Notes which drops the table -->

{% extends 'bootstrap/base.html' %}
<html>
   
    {% block title %}Simple Notes - Admin Mode{% endblock %}

    {% block content %}
    <body>
        <center>
            <h1>Simple Notes - Admin Mode</h1>

            <h3>Reset Database Table</h3>
            <form class="form-inline" action="" method="post" novalidate>
                {{ reset_form.hidden_tag() }}
                <p>
                    {{ reset_form.reset() }}
                </p>
            </form>
        </center>
    </body>
    {% endblock %}

</html>
